@tailwind base;
@tailwind components;
@tailwind utilities;

/* ------------------------------- *\
 * base
\* ------------------------------- */
@layer base {
  * {
    @apply select-none scroll-my-4 focus-visible:outline-none;
  }
  body {
    @apply bg-primary text-primary font-jetbrains text-base leading-loose tracking-tight transition-colors duration-300 ease-out;
  }
  header {
    @apply fixed left-0 top-0 z-40 flex h-24 w-full items-center;
  }
  footer {
    @apply my-6 h-10 w-full bg-transparent;
  }

  h1 {
    @apply text-[44px] font-extrabold leading-[1.1] xl:text-[60px];
  }
  h2 {
    @apply text-[40px] font-semibold leading-[1.1] xl:text-[48px];
  }
  h3 {
    @apply text-[30px] font-semibold leading-[1.1] xl:text-[36px];
  }
  h4 {
    @apply text-[24px] font-semibold leading-[1.1] xl:text-[28px];
  }
  h5 {
    @apply text-[18px] font-semibold leading-[1.1] xl:text-[22px];
  }
  h6 {
    @apply text-[16px] font-semibold leading-[1.1] xl:text-[17px];
  }
}

/* ------------------------------- *\
 * components
\* ------------------------------- */
@layer components {
  .container {
    @apply mx-auto min-h-[calc(100vh-5.5rem)] pb-4 pt-24;
  }
  .bg-primary {
    @apply bg-light-primary dark:bg-dark-primary;
  }
  .bg-surface {
    @apply bg-light-surface dark:bg-dark-surface;
  }
  .bg-gradient {
    @apply from-light-primary to-light-gradient dark:from-dark-primary dark:to-dark-gradient h-full w-full bg-gradient-to-br;
  }

  .text-primary {
    @apply text-light-text dark:text-dark-text;
  }

  .shadow-neumorphism {
    @apply shadow-light-neumorphism dark:shadow-dark-neumorphism;
  }
  .shadow-neumorphism-pressed {
    @apply shadow-light-neumorphism-pressed dark:shadow-dark-neumorphism-pressed;
  }
}

@layer utilities {
  .backface-hidden {
    backface-visibility: hidden;
  }
}

/* ------------------------------- *\
 * navbar
\* ------------------------------- */
.navbar {
  @apply invisible absolute right-0 top-full isolate mt-2 min-w-40 scale-90 rounded-2xl bg-gray-500/10 p-2 opacity-0 ring-1 ring-inset ring-zinc-50/5 blur-sm backdrop-blur-2xl transition-[opacity,transform,filter] md:visible md:static md:mt-0 md:flex md:scale-100 md:items-center md:opacity-100 md:blur-0;
}

.navbar.active {
  @apply visible scale-100 opacity-100 blur-0;
}

.nav-link {
  @apply hover:text-light-text-dark hover:dark:text-dark-text grid h-9 items-center px-4 text-sm font-medium tracking-wide text-gray-500 transition-colors;
}

.nav-link.active {
  @apply pointer-events-none text-zinc-900 duration-500;
}

.navbar .active-box {
  @apply absolute -z-10 rounded-lg bg-zinc-100 transition-[top,left] duration-500;
}

/* ------------------------------- *\
 * button
\* ------------------------------- */
/* .btn {
  @apply flex h-9 max-w-max items-center gap-2 rounded-xl px-4 text-sm font-medium ring-1 ring-inset ring-zinc-50/5 transition-[background-color];
}

.btn-secondary {
  @apply bg-[#0000C5] text-zinc-50 active:bg-accent/80;
} */

.neumorphism-btn {
  @apply shadow-neumorphism;
}
.neumorphism-btn:hover {
  @apply shadow-neumorphism-pressed transition-all duration-500;
}
.neumorphism-btn-selected {
  @apply data-[selected]:shadow-light-neumorphism-pressed data-[selected]:dark:shadow-dark-neumorphism-pressed data-[selected]:text-accent-hover/80;
}

/* ------------------------------- *\
 * card
\* ------------------------------- */
.neumorphism-card {
  @apply shadow-lg ring-[0.3px] ring-zinc-700/20 dark:ring-zinc-400/20;
}

.border-anim-card {
  @apply relative cursor-pointer rounded-lg;
}
.border-anim-card:hover .border-anim {
  animation: border-rotate 0.3s linear forwards;
}

.flip-card {
  @apply backface-hidden relative h-[25rem] w-[17rem] overflow-hidden rounded-3xl shadow-[4.0px_8.0px_8.0px_rgba(255,255,255,0.38)] backdrop-blur-md backdrop-filter transition-[background-color,transform,rotate3d] duration-1000 [box-shadow:12px_12px_0px_0px_#0d0d0d] [transform:rotate3d(1_,-3,_1,_5deg)] hover:-rotate-0 hover:shadow-none lg:h-[32rem] lg:w-[22rem];
}

.flip-card-front,
.flip-card-back {
  @apply backface-hidden absolute left-0 top-0 rounded-3xl border border-neutral-600 bg-white/50 p-10 transition-[background-color] duration-500 ease-in-out dark:bg-black/40;
}

/* ------------------------------- *\
 * swiper
\* ------------------------------- */
.swiper {
  width: 100%;

  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper {
  /* padding-bottom: 35px; 하단 공간 확보 */
  overflow-y: visible !important; /* 부모 요소의 overflow 속성 수정 */
}

.swiper-pagination {
  @apply bottom-0 md:bottom-2 !important;
}

.swiper-pagination-bullet {
  @apply bg-white;
}

.swiper-pagination-bullet-active {
  @apply bg-accent-hover;
}

/* ------------------------------- *\
 * border
\* ------------------------------- */
.border-anim {
  position: absolute;
  inset: 0;
  border: 2px solid transparent;
  background-color: transparent;
  border-radius: 0.5rem; /* Tailwind rounded-lg와 매칭 */
  animation: none;
  pointer-events: none; /* 클릭 이벤트 방지 */
}
@keyframes border-rotate {
  0% {
    width: 0;
    height: 0;
    border-color: transparent;
    background-color: transparent;
  }
  25% {
    width: 100%;
    height: 0;
    background-color: transparent;
    border-top-color: #2438e5; /* 파란색 */
    border-right-color: transparent; /* 파란색 */
    border-bottom-color: transparent; /* 파란색 */
    border-left-color: transparent; /* 파란색 */
  }
  50% {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-top-color: #2438e5; /* 파란색 */
    border-right-color: #2438e5; /* 파란색 */
    border-bottom-color: transparent; /* 파란색 */
    border-left-color: transparent; /* 파란색 */
  }
  75% {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-top-color: #2438e5; /* 파란색 */
    border-right-color: #2438e5; /* 파란색 */
    border-bottom-color: #2438e5; /* 파란색 */
    border-left-color: transparent; /* 파란색 */
  }
  100% {
    width: 100%;
    height: 100%;
    border-top-color: #2438e5; /* 파란색 */
    border-right-color: #2438e5; /* 파란색 */
    border-bottom-color: #2438e5; /* 파란색 */
    border-left-color: #2438e5; /* 파란색 */
  }
}
