@tailwind base;
@tailwind components;
@tailwind utilities;

/* ------------------------------- *\
 * BASE
\* ------------------------------- */
@layer base {
  html {
    scroll-behavior: smooth;
  }
}

body {
  @apply bg-background-light font-mono text-base leading-loose tracking-tight text-gray-700;
}
header {
  @apply fixed left-0 top-0 z-40 flex h-24 w-full items-center;
}

.container {
  @apply mx-auto min-h-screen py-24;
}

.h1 {
  @apply text-[44px] font-semibold leading-[1.1] xl:text-[60px];
}
.h2 {
  @apply text-[40px] font-semibold leading-[1.1] xl:text-[48px];
}
.h3 {
  @apply text-[30px] font-semibold leading-[1.1] xl:text-[36px];
}

/* ------------------------------- *\
 * TYPOGRAPHY
\* ------------------------------- */
/* .headline {
  @apply max-w-max;
  background: -webkit-linear-gradient(0deg, #000000, #8a8a8a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.headline-1 {
  @apply text-3xl font-semibold leading-tight;
} */

/* ------------------------------- *\
 * UTILITIES
\* ------------------------------- */
.material-symbols-rounded {
  @apply h-[1em] w-[1em] overflow-hidden;
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
}

/* ------------------------------- *\
 * COMPONENTS
\* ------------------------------- */

/* Menu btn */
.menu-btn {
  @apply grid h-10 w-10 place-items-center rounded-xl bg-zinc-50/10 ring-1 ring-inset ring-zinc-50/[0.02] backdrop-blur-2xl transition-[transform,shadow] hover:bg-zinc-50/15 active:scale-95;
}

/* Navbar */
.navbar {
  @apply invisible absolute right-0 top-full isolate mt-2 min-w-40 scale-90 rounded-2xl bg-gray-500/10 p-2 opacity-0 ring-1 ring-inset ring-zinc-50/5 blur-sm backdrop-blur-2xl transition-[opacity,transform,filter] md:visible md:static md:mt-0 md:flex md:scale-100 md:items-center md:opacity-100 md:blur-0;
}

.navbar.active {
  @apply visible scale-100 opacity-100 blur-0;
}

.nav-link {
  @apply grid h-9 items-center px-4 text-sm font-medium tracking-wide text-gray-500 transition-colors hover:text-zinc-900;
}

.nav-link.active {
  @apply pointer-events-none text-zinc-900 duration-500;
}

.navbar .active-box {
  @apply absolute -z-10 rounded-lg bg-zinc-100 transition-[top,left] duration-500;
}

/* Button */
.btn {
  @apply flex h-9 max-w-max items-center gap-2 rounded-xl px-4 text-sm font-medium ring-1 ring-inset ring-zinc-50/5 transition-[background-color];
}

.btn-secondary {
  @apply bg-[#0000C5] text-zinc-50 active:bg-accent/80;
}

.neumorphism-btn {
  @apply bg-gray-200 text-gray-700 shadow-neumorphism;
}

.neumorphism-btn:hover {
  @apply shadow-neumorphism-hover transition-all duration-500;
}
.neumorphism-btn:active {
  @apply bg-accent-hover/5 shadow-neumorphism-pressed outline-none transition-all duration-500;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animated-gradient {
  background: linear-gradient(90deg, #e5e7eb, #9badcd);
  background-size: 300% 300%;
  /* animation: gradientAnimation 3s ease-out infinite; */
}

.stack-icon {
  @apply h-[50px] w-[50px];
}

.swiper {
  width: 100%;

  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper {
  padding-bottom: 35px; /* 하단 공간 확보 */
  overflow-y: visible !important; /* 부모 요소의 overflow 속성 수정 */
}

.swiper-pagination {
}

.customPagination .swiper-pagination-bullet {
  background: #444;
}

.swiper-pagination-bullet-active {
  @apply bg-accent-hover;
}
