@tailwind base;
@tailwind components;
@tailwind utilities;

/* ------------------------------- *\
 * BASE
\* ------------------------------- */
html {
  scroll-behavior: smooth;
}

body {
  @apply bg-background-light font-mono leading-loose tracking-tight text-gray-700;
}

.h1 {
  @apply text-[48px] font-semibold leading-[1.1] xl:text-[88px];
}
.h2 {
  @apply text-[40px] font-semibold leading-[1.1] xl:text-[48px];
}
.h3 {
  @apply text-[20px] font-semibold leading-[1.1] xl:text-[24px];
}

/* ------------------------------- *\
 * TYPOGRAPHY
\* ------------------------------- */
/* .headline {
  @apply max-w-max;
  background: -webkit-linear-gradient(0deg, #000000, #8a8a8a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.headline-1 {
  @apply text-3xl font-semibold leading-tight;
} */

/* ------------------------------- *\
 * UTILITIES
\* ------------------------------- */
.material-symbols-rounded {
  @apply h-[1em] w-[1em] overflow-hidden;
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
}

.container {
  @apply mx-auto min-h-screen px-4 pt-32 lg:px-8 xl:max-w-6xl;
}
.img-box {
  @apply overflow-hidden bg-zinc-700;
}

.img-cover {
  @apply h-full w-full object-cover;
}

/* ------------------------------- *\
 * COMPONENTS
\* ------------------------------- */

/* Menu btn */
.menu-btn {
  @apply grid h-10 w-10 place-items-center rounded-xl bg-zinc-50/10 ring-1 ring-inset ring-zinc-50/[0.02] backdrop-blur-2xl transition-[transform,shadow] hover:bg-zinc-50/15 active:scale-95;
}

/* Navbar */
.navbar {
  @apply invisible absolute right-0 top-full isolate mt-2 min-w-40 scale-90 rounded-2xl bg-gray-500/10 p-2 opacity-0 ring-1 ring-inset ring-zinc-50/5 blur-sm backdrop-blur-2xl transition-[opacity,transform,filter] md:visible md:static md:mt-0 md:flex md:scale-100 md:items-center md:opacity-100 md:blur-0;
}

.navbar.active {
  @apply visible scale-100 opacity-100 blur-0;
}

.nav-link {
  @apply grid h-9 items-center px-4 text-sm font-medium tracking-wide text-gray-500 transition-colors hover:text-zinc-900;
}

.nav-link.active {
  @apply pointer-events-none text-zinc-900 duration-500;
}

.navbar .active-box {
  @apply absolute -z-10 rounded-lg bg-zinc-100 transition-[top,left] duration-500;
}

/* Button */
.btn {
  @apply flex h-9 max-w-max items-center gap-2 rounded-xl px-4 text-sm font-medium ring-1 ring-inset ring-zinc-50/5 transition-[background-color];
}

.btn-secondary {
  @apply active:bg-accent/80 bg-[#0000C5] text-zinc-50;
}

.neumorphism-btn {
  @apply shadow-neumorphism bg-gray-200 font-semibold text-gray-700;
}

.neumorphism-btn:hover {
  @apply shadow-neumorphism-hover text-accent-hover transition-all duration-500;
}
.neumorphism-btn:active {
  @apply shadow-neumorphism-pressed bg-accent-hover/15 outline-none transition-all duration-500;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animated-gradient {
  background: linear-gradient(90deg, #e5e7eb, #9badcd);
  background-size: 300% 300%;
  /* animation: gradientAnimation 3s ease-out infinite; */
}

.stack-icon {
  width: 1.5rem;
  height: 1.5rem;
}
